/* General styles */
body {
    font-family: 'Roboto',
        'Helvetica',
        'Arial',
        'sans-serif';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;
}

/* Ensure the body takes the full viewport height and uses Flexbox */
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    /* Remove default margin */
    background-color: #f4f4f9;
}

/* Toolbar styles */
#toolbar {
    background-color: rgba(13, 12, 52, 1);
    /* Blue color */
    color: white;
    padding: 15px 30px;
    /* Add padding to the toolbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Content container styles */
#content-container {
    display: flex;
    flex: 1;
    /* Take remaining space */
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Toolbar styles */
#toolbar {
    background-color: rgba(13, 12, 52, 1);
    /* Blue color */
    color: white;
    padding: 15px 30px;
    /* Add padding to the toolbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#toolbar .title {
    font-size: 1.8em;
    font-weight: bold;
}

#toolbar .links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
}

/* Navigation styles */
#nav-container {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    /*flex-direction: column;*/
    height: calc(100vh - 60px);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    justify-content: top;
    /* Center content vertically */
    align-items: top;
    /* Center content horizontally */
}

.nav-item {
    text-align: left !important
}

nav ul li a {
    font-size: 1.2em;
    /* Increase the font size */
    font-weight: bold;
    /* Make the text bold */
    color: #333;
    /* Optional: Set the text color */
    text-decoration: none;
    /* Remove underline */
    display: flex;
    /* Align icon and text */
    align-items: center;
    /* Center align icon and text vertically */
    padding: 10px 0;
    /* Add some padding */
}

nav ul li a svg {
    margin-right: 8px;
    /* Adjust the spacing between the icon and text */
    vertical-align: middle;
    /* Align the icon vertically with the text */
}

nav ul li a:hover {
    color: #007bff;
    /* Optional: Change color on hover */
    text-decoration: underline;
    /* Optional: Add underline on hover */
}

#nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0 0 0;
    /* Shift navbar items down */
    flex-grow: 1;
    text-align: left !important;
}

#nav-container nav ul li {
    margin-bottom: 15px;
}

#nav-container nav ul li a {
    width: 100%;
    font-weight: 400;
    padding: 8px 16px 8px 16px;
    color: inherit;
    line-height: 1.75;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: inherit;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms, box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0ms, border 250ms cubic-bezier(.4, 0, .2, 1) 0ms, padding 250ms cubic-bezier(.4, 0, .2, 1) 0ms;
    align-items: flex-start;
}

#nav-container nav ul li a:hover {
    background-color: #e5f1fb;
}

#nav-container nav ul li a.active {
    background-color: #0078d4;
    color: white;
}

/* Chat container styles */
#chat-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:100%
}

#chat-display {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    width: 800px
}

#chat-input {
    width: calc(100% - 82px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

label[for="chat-input"] {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
}

#chat-input::placeholder {
    padding: 5px 5px 5px 5px;
    /* Adjust the padding as needed */
}

#chat-container button {
    background-color: rgba(13, 12, 52, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

#chat-container button:hover {
    background-color: #0056b3;
}

#send-button {
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#send-button:hover {
    background-color: #005a9e;
}

/* Document container styles */
#document-container {
    display: none;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%
}

#document-container .document {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

#document-list {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.document-row {
    display: table-row;
}

.document-cell {
    display: table-cell;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.document-row.header .document-cell {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.document-row:nth-child(even) {
    background-color: #f9f9f9;
}

.document-row:hover {
    background-color: #f1f1f1;
}

.document-cell button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.document-cell button:hover {
    background-color: #ddd;
}

#existing-documents {
    margin-top: 20px;
}

#existing-documents h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#existing-documents-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* File upload styles */

#upload-documents-copy
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:12px;
    padding-top:4px
}

#file-upload {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#upload-button-container {
    display: flex;
        justify-content: flex-end;
        margin-top: 10px;
}

.file-label {
    margin-right: 10px;
    font-weight: bold;
}

.file-input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#file-list-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}

#file-list {
    list-style-type: none;
    padding: 0;
}

#file-list li {
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

#file-list li button {
    background-color: #ff4d4d;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

#file-list li button:hover {
    background-color: #cc0000;
}

#no-files-placeholder {
    color: #888;
    font-style: italic;
    text-align: center;
}

#file-upload {
    display: flex;
    align-items: center;
}

.custom-file-input {
    position: relative;
    display: flex;
    align-items: center;
}

.file-input {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

#choose-files-button {
    padding: 5px 10px;
        border: none;
        border-radius: 4px;
        background-color: rgba(13, 12, 52, 1);
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

#choose-files-button:hover {
    background-color: #0056b3;
}

.upload-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(13, 12, 52, 1);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.upload-button:hover:enabled {
    background-color: #0056b3;
}

#upload-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#upload-info h2 {
    margin-top: 0;
}

#filter-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#filter-input::placeholder {
    padding-left: 5px;
    /* Add padding to the placeholder text */
}
