.parcel-cache
.parcel-cache/6ed9d37aa0633dad-BundleGraph-0
.parcel-cache/7f973df67467291d-AssetGraph-0
.parcel-cache/c6f057f92782afb7-AssetGraph-0
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
.parcel-cache/requestGraph-5f9786e38cbf69b8-0
.parcel-cache/requestGraph-nodes-0-5f9786e38cbf69b8-0
.parcel-cache/snapshot-5f9786e38cbf69b8.txt
node_modules
dist
app/dist

node_modules/.package-lock.json
node_modules/@parcel/core/node_modules/dotenv/CHANGELOG.md
node_modules/@parcel/core/node_modules/dotenv/config.js
node_modules/@parcel/core/node_modules/dotenv/LICENSE
node_modules/@parcel/core/node_modules/dotenv/package.json
node_modules/@parcel/core/node_modules/dotenv/README.md
node_modules/@parcel/core/node_modules/dotenv/lib/cli-options.js
node_modules/@parcel/core/node_modules/dotenv/lib/env-options.js
node_modules/@parcel/core/node_modules/dotenv/lib/main.js
node_modules/dotenv/CHANGELOG.md
node_modules/dotenv/config.d.ts
node_modules/dotenv/config.js
node_modules/dotenv/package.json
node_modules/dotenv/README-es.md
node_modules/dotenv/README.md
node_modules/dotenv/lib/cli-options.js
node_modules/dotenv/lib/env-options.js
node_modules/dotenv/lib/main.d.ts
node_modules/dotenv/lib/main.js
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
nvm_install.sh
.parcel-cache/6ed9d37aa0633dad-BundleGraph-0
.parcel-cache/6ed9d37aa0633dad-BundleGraph-0
.parcel-cache/7f973df67467291d-AssetGraph-0
.parcel-cache/c6f057f92782afb7-AssetGraph-0
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
.parcel-cache/requestGraph-5f9786e38cbf69b8-0
.parcel-cache/requestGraph-nodes-0-5f9786e38cbf69b8-0
.parcel-cache/snapshot-5f9786e38cbf69b8.txt
node_modules/.package-lock.json
.parcel-cache/snapshot-5f9786e38cbf69b8.txt
.parcel-cache/c6f057f92782afb7-AssetGraph-0
.parcel-cache/7f973df67467291d-AssetGraph-0
.parcel-cache/6ed9d37aa0633dad-BundleGraph-0
.parcel-cache/c6f057f92782afb7-AssetGraph-0
.parcel-cache/data.mdb
.DS_Store
.DS_Store
src/.DS_Store
src/app/.DS_Store
src/app/backend/.DS_Store
src/app/backend/functions/.DS_Store
.DS_Store
